.icons {
    color: chartreuse;
    font-size: 20px;
}

.header {
    color: black;
    font-size: 50px;
    font-family: 'Josefin sans', sans-serif;
    justify-content: center;
}

#collapsibleNavbar {
    justify-content: center;
}

.fa-caret-up {
    font-size: 40px;
}

.navbar-nav {
    font-family: 'Josefin sans', sans-serif;
    margin-left: 225px;
}

.navbar-nav>.nav-item {
    margin-right: 30px;
}

.nav-item>.nav-link {
    color: black;
}

.img>img {
    width: 1226px;
}

.img {
    padding-left: 0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1349px;
    }
}

.carousel-caption {
    height: 240px;
    margin-left: 418px;
    text-align: left !important;
    font-family: 'Josefin sans', sans-serif;
    color: black;
}

.carousel-caption>h1 {
    color: black;
    font-weight: 900;
    font-size: 60px;
}

.carousel-caption .btn {
    background-color: black;
    color: white;
    border-radius: 23px;
    margin-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 13px;
}

.icon {
    position: absolute;
    margin-top: 152px;
    color: black;
    text-align: center;
    font-size: 34px;
    z-index: 2000;
}

.fa-chevron-circle-left:hover {
    font-size: 50px;
}

.fa-chevron-circle-right:hover {
    font-size: 50px;
}

@media only screen and (max-width: 812px) and (min-width: 280px) {
    .img>img {
        width: 360px;
        height: 283px;
    }
    .carousel-caption {
        margin-left: 0px;
        margin-bottom: 265px;
    }
    .icon {
        margin-top: 0px;
        margin-left: 87px;
    }
    .carousel-caption>h1 {
        font-size: 30px;
    }
}

.about {
    margin-top: 50px;
    padding-top: 125px;
    font-family: 'josefin sans', sans-serif;
    justify-content: center;
}

.about-title>h2 {
    font-weight: 900;
}

.about-title>h2 span {
    color: rgb(29, 255, 29);
}

.about-title .btn {
    background-color: black;
    color: white;
    margin-top: 25px;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 13px;
}

.about-img {
    background-color: rgb(212, 205, 205);
}

.img2 {
    z-index: 5;
    position: relative;
    width: 390px;
}

.services {
    justify-content: center;
    margin-top: 50px;
}

.service-title {
    padding-bottom: 30px;
    font-family: 'josefin sans', sans-serif;
    padding-left: 150px;
    font-weight: 600;
}

.service-title>h2 span {
    color: greenyellow;
}